name: GitHub-Profile-Summary-Cards

on:
  create:
  push:
  schedule:
    - cron: "0 0 * * *"  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-cards
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v2

      - name: Setup Git identity
        run: |
          git config --global user.name "kay-a11y"
          git config --global user.email "178646443+kay-a11y@users.noreply.github.com"

      - uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.SUMMARY_CARD_TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}
          UTC_OFFSET: 0
